<a href="https://colab.research.google.com/github/AdrianDiazGaxiola/Proyecto-Final/blob/main/Ciclones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install numpy
!pip install pandas

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.19.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

Se importan las librerías a utilizar

In [3]:
import pandas as pd
import numpy as np

In [8]:
url = "https://github.com/AdrianDiazGaxiola/Proyecto-Final/raw/main/Data/Ciclones.csv"

pd.read_csv(url, header=2, encoding='ISO-8859-1')

                                                  \nN°  ...    \nCosta
0                                                    1  ...   Pacífico
1                                                  NaN  ...   Pacífico
2                                                    2  ...   Pacífico
3                                                    3  ...   Pacífico
4                                                  NaN  ...   Pacífico
..                                                 ...  ...        ...
314                                                195  ...  Atlántico
315                                                NaN  ...        NaN
316  FUENTE: CONAGUA. Servicio Meteorológico Nacion...  ...        NaN
317   Sistema Nacional de Información del Agua (SINA).  ...        NaN
318                                                NaN  ...        NaN

[319 rows x 8 columns]