<a href="https://colab.research.google.com/github/AdrianDiazGaxiola/Proyecto-Final/blob/main/Exploratory_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Se importan las librerías a utilizar

In [5]:
import pandas as pd
import numpy as np
import seaborn as sns #visualización
import matplotlib.pyplot as plt #visualización
%matplotlib inline 
sns.set(color_codes=True)

Se leen los datos y se guardan en un dataframe

In [19]:
df = pd.read_csv("/data.csv")

# Se despliegan las primeras 5 filas
df.head(5)

# Se despliegan las últimas 5 filas
df.tail(5) 

# Se revisan los tipos de datos
df.dtypes

Make                  object
Model                 object
Year                   int64
Engine Fuel Type      object
Engine HP            float64
Engine Cylinders     float64
Transmission Type     object
Driven_Wheels         object
Number of Doors      float64
Market Category       object
Vehicle Size          object
Vehicle Style         object
highway MPG            int64
city mpg               int64
Popularity             int64
MSRP                   int64
dtype: object

Se eliminan las columnas irrelevantes

In [20]:
df = df.drop(['Engine Fuel Type', 'Market Category', 'Vehicle Style', 'Popularity', 'Number of Doors', 'Vehicle Size'], axis=1)
df.head(5)

  Make       Model  Year  ...  highway MPG  city mpg   MSRP
0  BMW  1 Series M  2011  ...           26        19  46135
1  BMW    1 Series  2011  ...           28        19  40650
2  BMW    1 Series  2011  ...           28        20  36350
3  BMW    1 Series  2011  ...           28        18  29450
4  BMW    1 Series  2011  ...           28        18  34500

[5 rows x 10 columns]

Se renombran las columnas

In [21]:
df = df.rename(columns={"Engine HP": "HP", "Engine Cylinders": "Cylinders", "Transmission Type": "Transmission", "Driven_Wheels": "Drive Mode","highway MPG": "MPG-H", "city mpg": "MPG-C", "MSRP": "Price" })
df.head(5)

  Make       Model  Year     HP  ...        Drive Mode MPG-H MPG-C  Price
0  BMW  1 Series M  2011  335.0  ...  rear wheel drive    26    19  46135
1  BMW    1 Series  2011  300.0  ...  rear wheel drive    28    19  40650
2  BMW    1 Series  2011  300.0  ...  rear wheel drive    28    20  36350
3  BMW    1 Series  2011  230.0  ...  rear wheel drive    28    18  29450
4  BMW    1 Series  2011  230.0  ...  rear wheel drive    28    18  34500

[5 rows x 10 columns]

Se eliminan las filas duplicadas

In [22]:
# Se obtiene el número total de filas y columnas
df.shape

# Se obtienen las filas duplicadas
duplicate_rows_df = df[df.duplicated()]
print("Número de filas duplicadas: ", duplicate_rows_df.shape)

# Se cuentan las filas antes de eliminar las duplicadas
df.count() 

# Se eiliminan las columnas duplicadas
df = df.drop_duplicates()
df.head(5)

# Se cuentan las filas después de eliminar las duplicadas
df.count()

Número de filas duplicadas:  (989, 10)

Make            10925
Model           10925
Year            10925
HP              10856
Cylinders       10895
Transmission    10925
Drive Mode      10925
MPG-H           10925
MPG-C           10925
Price           10925
dtype: int64