<a href="https://colab.research.google.com/github/AdrianDiazGaxiola/Proyecto-Final/blob/main/Sequ%C3%ADas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Este programa se empleará para limpiar el DataFrame con los datos de las sequías en México

In [10]:
!pip install numpy
!pip install pandas
!pip install openpyxl

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.19.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.7/dist-packages (2.5.9)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.1.0)
Requirement already satisfied: jdcal in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.4.1)

Se copia el archivo de github con los datos a un dataframe

In [59]:
import pandas as pd

url = "https://github.com/AdrianDiazGaxiola/Proyecto-Final/blob/OtherData/Municipios%20con%20Sequ%C3%ADa.csv?raw=true"
Seq = pd.read_csv(url)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (92,93,131,132,301) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [60]:
seq_por_entidad = {}

anios = range(2003, 2021)
estados_comp = ['Aguascalientes', 'Baja California', 'Baja California Sur', 'Campeche', 'Coahuila', 'Colima', 'Chiapas', 'Chihuahua', 'Ciudad de Mexico', 'Durango', 'Guanajuato', 'Guerrero', 'Hidalgo', 'Jalisco', 'Estado de Mexico', 'Michoacan', 'Morelos', 'Nayarit', 'Nuevo Leon', 'Oaxaca', 'Puebla', 'Queretaro', 'Quintana Roo', 'San Luis Potosi', 'Sinaloa', 'Sonora', 'Tabasco', 'Tamaulipas', 'Tlaxcala', 'Veracruz', 'Yucatan', 'Zacatecas']

#Ciclo con una iteración por estado de la república
for i in range (32):
  #Se guarda en un dataframe aparte los datos del estado en el que nos encontramos
  df1 = Seq[Seq['Entidad']==estados_comp[i]]

  #Se establecen las columnas del nuevo dataframe que contendrá los datos del estado en el que nos ubicamos, incluyendo año y la cantidad de sequías por clasificación de cada año.
  df2 = pd.DataFrame(columns=['ANIO', 'Anormalmente Seco', 'Sequia Moderada', 'Sequia Severa', 'Sequia Extrema', 'Sequia Excepcional'])

  for j in range (2003,2021):
    l = j - 2002

    #Se guarda el número del año en la fila en que nos encontramos, debajo de la columna 'ANIO'
    df2.at[l, 'ANIO'] = anios[l-1]

    #Se suma independientemente la cantidad de sequías de acuerdo a su clasificación en el año en que nos encontramos, utilizando la función df.filter ya que tenemos varias columnas cuyos nombres (los años) se repiten.
    df2.at[l, 'Anormalmente Seco'] = (df1.filter(like = str(j))=='D0').sum().sum()
    df2.at[l, 'Sequia Moderada'] = (df1.filter(like = str(j))=='D1').sum().sum()
    df2.at[l, 'Sequia Severa'] = (df1.filter(like = str(j))=='D2').sum().sum()
    df2.at[l, 'Sequia Extrema'] = (df1.filter(like = str(j))=='D3').sum().sum()
    df2.at[l, 'Sequia Excepcional'] = (df1.filter(like = str(j))=='D4').sum().sum()

  print(estados_comp[i])
  print(df2)

Aguascalientes
    ANIO Anormalmente Seco  ... Sequia Extrema Sequia Excepcional
1   2003                 0  ...              0                  0
2   2004                 0  ...              0                  0
3   2005                22  ...              0                  0
4   2006                27  ...              0                  0
5   2007                29  ...              0                  0
6   2008                12  ...              0                  0
7   2009                31  ...              0                  0
8   2010                 0  ...              0                  0
9   2011                 5  ...             44                  5
10  2012                30  ...              7                  0
11  2013                17  ...              0                  0
12  2014                30  ...              0                  0
13  2015                 0  ...              0                  0
14  2016                38  ...              0                  0
15  2017                77  ...              0                  0
16  2018                 0  ...              0                  0
17  2019                79  ...              0                  0
18  2020                55  ...              0                  0

[18 rows x 6 columns]
Baja California
    ANIO Anormalmente Seco  ... Sequia Extrema Sequia Excepcional
1   2003                16  ...              1                  0
2   2004                24  ...              0                  0
3   2005                 0  ...              0                  0
4   2006                27  ...              0                  0
5   2007                 0  ...             26                  3
6   2008                 8  ...              0                  0
7   2009                 3  ...              0                  0
8   2010                 9  ...              0                  0
9   2011                15  ...              0                  0
10  2012                17  ...              0                  0
11  2013                17  ...              0                  0
12  2014                19  ...             45                  0
13  2015                 4  ...             52                  0
14  2016                 0  ...             94                  0
15  2017                43  ...              2                  0
16  2018                 3  ...             22                  0
17  2019                55  ...              0                  0
18  2020                26  ...              0                  0

[18 rows x 6 columns]
Baja California Sur
    ANIO Anormalmente Seco  ... Sequia Extrema Sequia Excepcional
1   2003                 5  ...              0                  0
2   2004                 2  ...              0                  0
3   2005                15  ...              0                  0
4   2006                19  ...              0                  0
5   2007                21  ...              0                  0
6   2008                 5  ...              0                  0
7   2009                17  ...              0                  0
8   2010                17  ...              0                  0
9   2011                 4  ...              4                  0
10  2012                12  ...              5                  0
11  2013                 2  ...              0                  0
12  2014                11  ...              0                  0
13  2015                 0  ...              0                  0
14  2016                25  ...              0                  0
15  2017                 9  ...              0                  0
16  2018                33  ...              0                  0
17  2019                50  ...              0                  0
18  2020                43  ...              0                  0

[18 rows x 6 columns]
Campeche
    ANIO Anormalmente Seco  ... Sequia Extrema Sequia Excepcional
1   2003                63  ...              0                  0
2   2004                58  ...              0                  0
3   2005                22  ...              0                  0
4   2006                19  ...              0                  0
5   2007                29  ...              0                  0
6   2008                62  ...              2                  0
7   2009                10  ...             20                  1
8   2010                10  ...             17                  0
9   2011                26  ...              6                  0
10  2012                16  ...              0                  0
11  2013                18  ...              0                  0
12  2014                40  ...              0                  0
13  2015               125  ...              0                  0
14  2016                99  ...              0                  0
15  2017                82  ...              0                  0
16  2018                62  ...              4                  0
17  2019                97  ...              0                  0
18  2020                53  ...              0                  0

[18 rows x 6 columns]
Coahuila
    ANIO Anormalmente Seco  ... Sequia Extrema Sequia Excepcional
1   2003                93  ...              0                  0
2   2004                 0  ...              0                  0
3   2005                63  ...              0                  0
4   2006               113  ...             65                 35
5   2007               119  ...              6                  1
6   2008               118  ...             20                  0
7   2009               175  ...             17                  2
8   2010                79  ...              3                  0
9   2011                23  ...            204                129
10  2012                75  ...             94                 13
11  2013                97  ...             24                  4
12  2014               129  ...              0                  0
13  2015                96  ...              0                  0
14  2016               123  ...              0                  0
15  2017               272  ...              0                  0
16  2018               197  ...             41                  3
17  2019               328  ...              8                  0
18  2020               308  ...             40                  3

[18 rows x 6 columns]
Colima
    ANIO Anormalmente Seco  ... Sequia Extrema Sequia Excepcional
1   2003                20  ...              0                  0
2   2004                50  ...              0                  0
3   2005                85  ...              0                  0
4   2006                22  ...              0                  0
5   2007                16  ...             14                  0
6   2008                52  ...              0                  0
7   2009                20  ...              0                  0
8   2010                10  ...              0                  0
9   2011                31  ...              0                  0
10  2012                14  ...              0                  0
11  2013                14  ...              0                  0
12  2014                 1  ...              0                  0
13  2015                41  ...              0                  0
14  2016                63  ...              0                  0
15  2017               119  ...              0                  0
16  2018               130  ...              0                  0
17  2019                71  ...              0                  0
18  2020                89  ...              0                  0

[18 rows x 6 columns]
Chiapas
    ANIO Anormalmente Seco  ... Sequia Extrema Sequia Excepcional
1   2003               503  ...              0                  0
2   2004               331  ...              0                  0
3   2005               290  ...              0                  0
4   2006               205  ...              0                  0
5   2007               377  ...              8                  0
6   2008               324  ...              0                  0
7   2009               584  ...             37                  0
8   2010                38  ...            200                  0
9   2011               204  ...              0                  0
10  2012                11  ...              0                  0
11  2013               290  ...              0                  0
12  2014               102  ...              0                  0
13  2015               907  ...              0                  0
14  2016               946  ...              0                  0
15  2017              1415  ...              0                  0
16  2018              1158  ...             62                  0
17  2019              1034  ...             83                  0
18  2020               868  ...              0                  0

[18 rows x 6 columns]
Chihuahua
    ANIO Anormalmente Seco  ... Sequia Extrema Sequia Excepcional
1   2003               147  ...             58                  4
2   2004               145  ...             10                  3
3   2005               132  ...              0                  0
4   2006               122  ...             77                 30
5   2007               234  ...              7                  0
6   2008               266  ...              4                  0
7   2009               176  ...              0                  0
8   2010               199  ...              0                  0
9   2011                64  ...            377                189
10  2012               112  ...            115                 18
11  2013               171  ...              0                  0
12  2014               545  ...              0                  0
13  2015               176  ...              0                  0
14  2016               566  ...              0                  0
15  2017               385  ...              0                  0
16  2018               683  ...              0                  0
17  2019               611  ...              0                  0
18  2020               356  ...            118                 18

[18 rows x 6 columns]
Ciudad de Mexico
    ANIO Anormalmente Seco  ... Sequia Extrema Sequia Excepcional
1   2003                80  ...              0                  0
2   2004                 0  ...              0                  0
3   2005                82  ...              0                  0
4   2006                63  ...              0                  0
5   2007                20  ...              0                  0
6   2008               105  ...              0                  0
7   2009                 0  ...              0                  0
8   2010                92  ...              0                  0
9   2011                49  ...              5                  0
10  2012                19  ...              0                  0
11  2013                62  ...              0                  0
12  2014                14  ...              0                  0
13  2015                75  ...              0                  0
14  2016               169  ...              0                  0
15  2017               124  ...              0                  0
16  2018                66  ...              0                  0
17  2019               155  ...              0                  0
18  2020                63  ...              0                  0

[18 rows x 6 columns]
Durango
    ANIO Anormalmente Seco  ... Sequia Extrema Sequia Excepcional
1   2003               181  ...              0                  0
2   2004                 2  ...              0                  0
3   2005                69  ...              0                  0
4   2006                85  ...             43                  2
5   2007               156  ...              3                  0
6   2008                41  ...             26                  9
7   2009                32  ...              0                  0
8   2010                17  ...              0                  0
9   2011                10  ...            224                 32
10  2012                71  ...            120                 12
11  2013               170  ...              0                  0
12  2014               226  ...              0                  0
13  2015               160  ...              0                  0
14  2016               349  ...              0                  0
15  2017               243  ...              0                  0
16  2018               204  ...              0                  0
17  2019               316  ...              0                  0
18  2020               293  ...              0                  0

[18 rows x 6 columns]
Guanajuato
    ANIO Anormalmente Seco  ... Sequia Extrema Sequia Excepcional
1   2003                 0  ...              0                  0
2   2004                 4  ...              0                  0
3   2005               139  ...              0                  0
4   2006               127  ...             21                  0
5   2007                38  ...              0                  0
6   2008               192  ...             16                  0
7   2009               177  ...              0                  0
8   2010                84  ...              0                  0
9   2011                93  ...            142                  5
10  2012                94  ...             16                  5
11  2013               199  ...              0                  0
12  2014               168  ...              0                  0
13  2015               125  ...              0                  0
14  2016               332  ...              0                  0
15  2017               489  ...              0                  0
16  2018               177  ...             33                  0
17  2019               518  ...              0                  0
18  2020               474  ...              0                  0

[18 rows x 6 columns]
Guerrero
    ANIO Anormalmente Seco  ... Sequia Extrema Sequia Excepcional
1   2003               241  ...             14                  0
2   2004                67  ...              0                  0
3   2005               262  ...              0                  0
4   2006               245  ...              0                  0
5   2007               152  ...              0                  0
6   2008               277  ...              0                  0
7   2009               277  ...              0                  0
8   2010                21  ...              0                  0
9   2011               235  ...              0                  0
10  2012               156  ...              0                  0
11  2013               189  ...              0                  0
12  2014               717  ...              0                  0
13  2015               761  ...              0                  0
14  2016               556  ...              0                  0
15  2017               760  ...              0                  0
16  2018               946  ...              0                  0
17  2019               714  ...              0                  0
18  2020               561  ...            145                  0

[18 rows x 6 columns]
Hidalgo
    ANIO Anormalmente Seco  ... Sequia Extrema Sequia Excepcional
1   2003               412  ...              0                  0
2   2004               132  ...              0                  0
3   2005               290  ...              0                  0
4   2006               451  ...              0                  0
5   2007               111  ...              0                  0
6   2008               237  ...              0                  0
7   2009               175  ...              0                  0
8   2010                 2  ...              0                  0
9   2011               295  ...             55                  0
10  2012                79  ...              0                  0
11  2013               232  ...              0                  0
12  2014               160  ...              0                  0
13  2015               189  ...              0                  0
14  2016               374  ...              0                  0
15  2017               540  ...              0                  0
16  2018               784  ...              0                  0
17  2019               891  ...            101                  2
18  2020              1096  ...             24                  0

[18 rows x 6 columns]
Jalisco
    ANIO Anormalmente Seco  ... Sequia Extrema Sequia Excepcional
1   2003                27  ...              0                  0
2   2004               237  ...              0                  0
3   2005               678  ...              0                  0
4   2006               295  ...             24                  0
5   2007               328  ...             55                  0
6   2008               288  ...             47                  0
7   2009               210  ...              0                  0
8   2010                24  ...              0                  0
9   2011               496  ...            101                 34
10  2012               345  ...             20                 15
11  2013               408  ...              0                  0
12  2014               575  ...              0                  0
13  2015               573  ...              0                  0
14  2016               773  ...              0                  0
15  2017              1111  ...              0                  0
16  2018              1118  ...              0                  0
17  2019              1309  ...              0                  0
18  2020               989  ...              0                  0

[18 rows x 6 columns]
Estado de Mexico
    ANIO Anormalmente Seco  ... Sequia Extrema Sequia Excepcional
1   2003               595  ...              0                  0
2   2004                52  ...              0                  0
3   2005               639  ...              0                  0
4   2006               386  ...              0                  0
5   2007               141  ...              0                  0
6   2008               686  ...              0                  0
7   2009               244  ...             38                  0
8   2010               315  ...              0                  0
9   2011               419  ...             71                  0
10  2012               137  ...              0                  0
11  2013               218  ...              0                  0
12  2014               220  ...              0                  0
13  2015               358  ...              0                  0
14  2016               636  ...              0                  0
15  2017               807  ...              0                  0
16  2018              1071  ...              0                  0
17  2019              1354  ...              0                  0
18  2020              1374  ...              0                  0

[18 rows x 6 columns]
Michoacan
    ANIO Anormalmente Seco  ... Sequia Extrema Sequia Excepcional
1   2003               203  ...              0                  0
2   2004               108  ...              0                  0
3   2005               584  ...              0                  0
4   2006               209  ...             61                  0
5   2007               275  ...             46                  0
6   2008               167  ...            141                  0
7   2009                94  ...             31                  0
8   2010                21  ...              0                  0
9   2011               526  ...             82                  0