<a href="https://colab.research.google.com/github/AdrianDiazGaxiola/Proyecto-Final/blob/main/Sequ%C3%ADas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Este programa se empleará para limpiar el DataFrame con los datos de las sequías en México

In [1]:
!pip install numpy
!pip install pandas
!pip install openpyxl

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.19.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.7/dist-packages (2.5.9)
Requirement already satisfied: jdcal in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.4.1)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.1.0)

Se copia el archivo de github con los datos a un dataframe

In [2]:
import pandas as pd

url = "https://raw.githubusercontent.com/AdrianDiazGaxiola/Proyecto-Final/main/Data/Sequ%C3%ADas.csv"
Seq = pd.read_csv(url, encoding='ISO-8859-1')

print(Seq)

      Clave del Municipio  ... Total (D0 a D4)
0                  1001.0  ...            65.0
1                  1002.0  ...            64.0
2                  1003.0  ...            71.0
3                  1004.0  ...            61.0
4                  1005.0  ...            66.0
...                   ...  ...             ...
2460              32056.0  ...            75.0
2461              32057.0  ...            73.0
2462              32058.0  ...           121.0
2463                  NaN  ...             NaN
2464                  NaN  ...             NaN

[2465 rows x 307 columns]

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (92,93,131,132,301) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
Seq.head()

   Clave del Municipio  ... Total (D0 a D4)
0               1001.0  ...            65.0
1               1002.0  ...            64.0
2               1003.0  ...            71.0
3               1004.0  ...            61.0
4               1005.0  ...            66.0

[5 rows x 307 columns]

Se eliminan las columnas que no se utilizarán

In [4]:
df = Seq

df = df.drop(columns={"Clave del Municipio", "Nombre del Municipio", "Anormalmente Seco (D0)", "Sequía Moderada (D1)", "Sequía Severa (D2)", "Sequía Extrema (D3)", "Sequía Excepcional (D4)", "Total (D0 a D4)",  })

#Se elimina la columna vacía
df = df.drop(Seq.columns[299],axis=1)

Se renombran las clasificaciones de las sequías y se abrevian algunos estados

In [5]:
#Se abrevian las clasificaciones de las sequías
df = df.replace(to_replace ="Anormalmente Seco",
                 value ="D0")
df = df.replace(to_replace ="Sequía Moderada",
                 value ="D1")
df = df.replace(to_replace ="Sequía Severa",
                 value ="D2")
df = df.replace(to_replace ="Sequía Extrema",
                 value ="D3")
df = df.replace(to_replace ="Sequía Excepcional",
                 value ="D4")

#Se abrevian los nombres de los estados
df = df.replace(to_replace = "Veracruz de Ignacio de la Llave",
                value = "Veracruz")
df = df.replace(to_replace = "Michoacán de Ocampo",
                value = "Michoacán")
df = df.replace(to_replace = "Coahuila de Zaragoza",
                value = "Coahuila")
df = df.replace(to_replace = "Querétaro de Arteaga",
                value = "Querétaro")

In [6]:
#Se reacomoda el dataframe, a modo de tener en una columna las fechas de las tormentas
df1 = (df.set_index(["Entidad"])
         .stack()
         .reset_index(name='Sequía')
         .rename(columns={'level_1':'Fecha'}))

#Se convierte a tipo fecha los valores en la columna de las fechas
df1['Fecha'] = pd.to_datetime(df1['Fecha'], errors='coerce')

#Se crea una nueva columna para tener por separado día, mes y año
df1['Día'] = df1['Fecha'].dt.day
df1['Mes'] = df1['Fecha'].dt.month
df1['Anio'] = df1['Fecha'].dt.year

#Se ordena el dataframe por fechas
df1 = df1.sort_values(by='Fecha')

df1 = df1.drop(columns={'Fecha', 'Día'})

print (df1.head(30))

                 Entidad Sequía  Mes  Anio
58487           Guerrero     D2    1  2003
149438            Oaxaca     D1    1  2003
149348            Oaxaca     D0    1  2003
38072   Ciudad de México     D0    1  2003
149228            Oaxaca     D0    1  2003
149095            Oaxaca     D1    1  2003
238738           Tabasco     D1    1  2003
149021            Oaxaca     D1    1  2003
38166            Durango     D0    1  2003
259088          Veracruz     D0    1  2003
148892            Oaxaca     D1    1  2003
238870        Tamaulipas     D0    1  2003
148570            Oaxaca     D1    1  2003
239007        Tamaulipas     D0    1  2003
148472            Oaxaca     D3    1  2003
38292            Durango     D1    1  2003
239181        Tamaulipas     D0    1  2003
148377            Oaxaca     D3    1  2003
240354        Tamaulipas     D1    1  2003
38572            Durango     D0    1  2003
147191            Oaxaca     D2    1  2003
240211        Tamaulipas     D0    1  2003
239968        Tamaulipas     D0    1  2003
147643            Oaxaca     D0    1  2003
149543            Oaxaca     D1    1  2003
147701            Oaxaca     D0    1  2003
38443            Durango     D0    1  2003
148055            Oaxaca     D3    1  2003
239333        Tamaulipas     D0    1  2003
148152            Oaxaca     D0    1  2003

Se ordenan las filas de acuerdo a entidad, año, mes, y número de tormentas de acuerdo a su clasificación

In [8]:
anios = range(2003, 2021)
estados_comp = ['Aguascalientes', 'Baja California', 'Baja California Sur', 'Campeche', 'Coahuila', 'Colima', 'Chiapas', 'Chihuahua', 'Ciudad de Mexico', 'Durango', 'Guanajuato', 'Guerrero', 'Hidalgo', 'Jalisco', 'Estado de Mexico', 'Michoacan', 'Morelos', 'Nayarit', 'Nuevo Leon', 'Oaxaca', 'Puebla', 'Queretaro', 'Quintana Roo', 'San Luis Potosi', 'Sinaloa', 'Sonora', 'Tabasco', 'Tamaulipas', 'Tlaxcala', 'Veracruz', 'Yucatan', 'Zacatecas']

meses = list(range(1, 13))

df3 = pd.DataFrame(columns={"Entidad", "Anio", "Mes", "D0", "D1", "D2", "D3", "D4", "Total Sequías"})

l = 0
for i in anios:
  for j in meses:
    for k in estados_comp:
      df2 = df1[(df1['Entidad']==k) & (df1['Anio']==i) & (df1['Mes']==j)]

      df3.at[l, "Entidad"] = k
      df3.at[l, "Anio"] = i
      df3.at[l, "Mes"] = j

      #Se copia la cantidad de tormentas por clasificación que aparecen en la entidad, mes y año correspondientes
      df3.at[l, "D0"] = (df2.Sequía=='D0').sum().sum()
      df3.at[l, "D1"] = (df2.Sequía=='D1').sum().sum()
      df3.at[l, "D2"] = (df2.Sequía=='D2').sum().sum()
      df3.at[l, "D3"] = (df2.Sequía=='D3').sum().sum()
      df3.at[l, "D4"] = (df2.Sequía=='D4').sum().sum()

      #Se agrega un total de sequías, corespondiente a la suma de los cuatro tipos de sequías
      df3.at[l, "Total Sequías"] = df3.at[l, "D0"] + df3.at[l, "D1"] + df3.at[l, "D2"] + df3.at[l, "D3"] + df3.at[l, "D4"]

      l += 1

#Se reordenan las columnas del dataframe
df3 = df3[["Entidad", "Anio", "Mes", "D0", "D1", "D2", "D3", "D4", "Total Sequías"]]

print(df3)

                  Entidad  Anio Mes   D0  D1 D2 D3 D4 Total Sequías
0          Aguascalientes  2003   1    0   0  0  0  0             0
1         Baja California  2003   1    2   1  1  1  0             5
2     Baja California Sur  2003   1    1   0  1  0  0             2
3                Campeche  2003   1    6   0  0  0  0             6
4                Coahuila  2003   1    7   3  5  0  0            15
...                   ...   ...  ..  ...  .. .. .. ..           ...
6907           Tamaulipas  2020  12    9  27  3  3  0            42
6908             Tlaxcala  2020  12   28   0  0  0  0            28
6909             Veracruz  2020  12  130  24  0  0  0           154
6910              Yucatan  2020  12    0   0  0  0  0             0
6911            Zacatecas  2020  12   16  37  5  0  0            58

[6912 rows x 9 columns]

Se crea un nuevo dataframe que solo contiene los datos a nivel nacional y por año

In [24]:
anios = list(range(2003, 2021))

df4 = pd.DataFrame(columns={"Entidad", "Anio", "Mes", "D0", "D1", "D2", "D3", "D4", "Total_Sequías"})

j = 0
for i in anios:
  df = df3[df3["Anio"]==i]

  df4.at[j, "Entidad"] = "NAC"
  df4.at[j, "Anio"] = i
  df4.at[j, "Mes"] = "ANUAL"
  df4.at[j, "D0"] = (df.D0).sum().sum()
  df4.at[j, "D1"] = (df.D1).sum().sum()
  df4.at[j, "D2"] = (df.D2).sum().sum()
  df4.at[j, "D3"] = (df.D3).sum().sum()
  df4.at[j, "D4"] = (df.D4).sum().sum()
  df4.at[j, "Total_Sequías"] = (df["Total Sequías"]).sum().sum()

  j += 1

df4 = df4[["Entidad", "Anio", "Mes", "D0", "D1", "D2", "D3", "D4", "Total_Sequías"]]
print(df4)

   Entidad  Anio    Mes     D0    D1    D2    D3   D4 Total_Sequías
0      NAC  2003  ANUAL   6131  2625  1026   448   30         10260
1      NAC  2004  ANUAL   4358  1243    48    19    5          5673
2      NAC  2005  ANUAL   6096  1954    89     1    0          8140
3      NAC  2006  ANUAL   6218  2941  1401   486  214         11260
4      NAC  2007  ANUAL   4427  2725   910   201    4          8267
5      NAC  2008  ANUAL   6217  3209   971   199    9         10605
6      NAC  2009  ANUAL   6296  4697   953   132    8         12086
7      NAC  2010  ANUAL   2365   888   864   312    0          4429
8      NAC  2011  ANUAL   4195  3376  2805  1987  500         12863
9      NAC  2012  ANUAL   2032  1434   760   462   82          4770
10     NAC  2013  ANUAL   4150   765   157    61   19          5152
11     NAC  2014  ANUAL   7809  1297   275    54    0          9435
12     NAC  2015  ANUAL   9266  2646   392    64    0         12368
13     NAC  2016  ANUAL  12287  6239  1556   304    0         20386
14     NAC  2017  ANUAL  15198  4175   856   249    0         20478
15     NAC  2018  ANUAL  14694  5889  1767   695    3         23048
16     NAC  2019  ANUAL  15579  9319  3417  1061   57         29433
17     NAC  2020  ANUAL  14356  6226  2860   631   28         24101

Se lee el archivo que contiene los datos de las temperaturas y nivel de precipitación

In [10]:
url = "https://github.com/AdrianDiazGaxiola/Proyecto-Final/blob/main/Data/DataFrames%20Combinados/Temperaturas+Precipitaci%C3%B3n.csv?raw=true"
df_completo = pd.read_csv(url)

Se combina el dataframe que incluye las temperaturas y nivel de precipitación, tomando solamente los datos por año y a nivel nacional

In [33]:
df = df_completo[(df_completo["ANIO"]>=2003) & (df_completo["ENTIDAD"]=="NAC") & (df_completo["MES"]=="ANUAL")]

d0 = df4["D0"].tolist()
d1 = df4["D1"].tolist()
d2 = df4["D2"].tolist()
d3 = df4["D3"].tolist()
d4 = df4["D4"].tolist()
total = df4["Total_Sequías"].tolist()

df["D0"] = d0
df["D1"] = d1
df["D2"] = d2
df["D3"] = d3
df["D4"] = d4
df["Total_Sequías"] = total

df = df.reset_index(drop=True)
print(df.head(5))

   ANIO    MES ENTIDAD      T_Max  ...    D2   D3   D4  Total_Sequías
0  2003  ANUAL     NAC  28.643543  ...  1026  448   30          10260
1  2004  ANUAL     NAC  28.345458  ...    48   19    5           5673
2  2005  ANUAL     NAC  28.967507  ...    89    1    0           8140
3  2006  ANUAL     NAC  29.215505  ...  1401  486  214          11260
4  2007  ANUAL     NAC  29.348220  ...   910  201    4           8267

[5 rows x 13 columns]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

Se descarga el nuevo dataframe con los datos adjuntos

In [34]:
df.to_csv("Temp+Prec+Seq.csv", encoding='utf-8', index=False)
from google.colab import files
files.download("Temp+Prec+Seq.csv")

In [ ]:
seq_por_entidad = {}

anios = range(2003, 2021)
estados_comp = ['Aguascalientes', 'Baja California', 'Baja California Sur', 'Campeche', 'Coahuila', 'Colima', 'Chiapas', 'Chihuahua', 'Ciudad de Mexico', 'Durango', 'Guanajuato', 'Guerrero', 'Hidalgo', 'Jalisco', 'Estado de Mexico', 'Michoacan', 'Morelos', 'Nayarit', 'Nuevo Leon', 'Oaxaca', 'Puebla', 'Queretaro', 'Quintana Roo', 'San Luis Potosi', 'Sinaloa', 'Sonora', 'Tabasco', 'Tamaulipas', 'Tlaxcala', 'Veracruz', 'Yucatan', 'Zacatecas']

#Ciclo con una iteración por estado de la república
for i in range (32):
  #Se guarda en un dataframe aparte los datos del estado en el que nos encontramos
  df1 = Seq[Seq['Entidad']==estados_comp[i]]

  #Se establecen las columnas del nuevo dataframe que contendrá los datos del estado en el que nos ubicamos, incluyendo año y la cantidad de sequías por clasificación de cada año.
  df2 = pd.DataFrame(columns=['ANIO', 'Anormalmente Seco', 'Sequia Moderada', 'Sequia Severa', 'Sequia Extrema', 'Sequia Excepcional', 'Total'])

  for j in range (2003,2021):
    l = j - 2002

    #Se guarda el número del año en la fila en que nos encontramos, debajo de la columna 'ANIO'
    df2.at[l, 'ANIO'] = anios[l-1]

    #Se suma independientemente la cantidad de sequías de acuerdo a su clasificación en el año en que nos encontramos, utilizando la función df.filter ya que tenemos varias columnas cuyos nombres (los años) se repiten.
    df2.at[l, 'Anormalmente Seco'] = (df1.filter(like = str(j))=='D0').sum().sum()
    df2.at[l, 'Sequia Moderada'] = (df1.filter(like = str(j))=='D1').sum().sum()
    df2.at[l, 'Sequia Severa'] = (df1.filter(like = str(j))=='D2').sum().sum()
    df2.at[l, 'Sequia Extrema'] = (df1.filter(like = str(j))=='D3').sum().sum()
    df2.at[l, 'Sequia Excepcional'] = (df1.filter(like = str(j))=='D4').sum().sum()

    #Se obtiene el valor de la columna 'Total' sumando los valores obtenidos en el paso anterior
    df2.at[l, 'Total'] = df2.at[l, 'Anormalmente Seco'] + df2.at[l, 'Sequia Moderada'] + df2.at[l, 'Sequia Severa'] + df2.at[l, 'Sequia Extrema'] + df2.at[l, 'Sequia Excepcional'] 

  print(estados_comp[i])
  print(df2)        

#Se crea un dataframe con los datos de las sequías por año a nivel NACIONAL
df3 = pd.DataFrame(columns=['ANIO', 'Anormalmente Seco', 'Sequia Moderada', 'Sequia Severa', 'Sequia Extrema', 'Sequia Excepcional', 'Total'])
for i in range (2003, 2021):
  j = i - 2002

  df3.at[j, 'ANIO'] = anios[j-1]

  df3.at[j, 'Anormalmente Seco'] = (Seq.filter(like = str(i))=='D0').sum().sum()
  df3.at[j, 'Sequia Moderada'] = (Seq.filter(like = str(i))=='D1').sum().sum()
  df3.at[j, 'Sequia Severa'] = (Seq.filter(like = str(i))=='D2').sum().sum()
  df3.at[j, 'Sequia Extrema'] = (Seq.filter(like = str(i))=='D3').sum().sum()
  df3.at[j, 'Sequia Excepcional'] = (Seq.filter(like = str(i))=='D4').sum().sum()
  df3.at[j, 'Total'] = df3.at[j, 'Anormalmente Seco'] + df3.at[j, 'Sequia Moderada'] + df3.at[j, 'Sequia Severa'] + df3.at[j, 'Sequia Extrema'] + df3.at[j, 'Sequia Excepcional']

print ("NACIONAL")
print (df3)

Aguascalientes
    ANIO Anormalmente Seco  ... Sequia Excepcional Total
1   2003                 0  ...                  0     0
2   2004                 0  ...                  0     0
3   2005                22  ...                  0    22
4   2006                27  ...                  0    77
5   2007                29  ...                  0    33
6   2008                12  ...                  0    53
7   2009                31  ...                  0    44
8   2010                 0  ...                  0     0
9   2011                 5  ...                  5   110
10  2012                30  ...                  0    73
11  2013                17  ...                  0    17
12  2014                30  ...                  0    30
13  2015                 0  ...                  0     0
14  2016                38  ...                  0    38
15  2017                77  ...                  0   132
16  2018                 0  ...                  0     0
17  2019                79  ...                  0   143
18  2020                55  ...                  0    80

[18 rows x 7 columns]
Baja California
    ANIO Anormalmente Seco  ... Sequia Excepcional Total
1   2003                16  ...                  0    31
2   2004                24  ...                  0    50
3   2005                 0  ...                  0     0
4   2006                27  ...                  0    39
5   2007                 0  ...                  3    60
6   2008                 8  ...                  0    56
7   2009                 3  ...                  0    58
8   2010                 9  ...                  0    11
9   2011                15  ...                  0    15
10  2012                17  ...                  0    23
11  2013                17  ...                  0    45
12  2014                19  ...                  0   109
13  2015                 4  ...                  0   118
14  2016                 0  ...                  0   120
15  2017                43  ...                  0    99
16  2018                 3  ...                  0   120
17  2019                55  ...                  0    69
18  2020                26  ...                  0    34

[18 rows x 7 columns]
Baja California Sur
    ANIO Anormalmente Seco  ... Sequia Excepcional Total
1   2003                 5  ...                  0    14
2   2004                 2  ...                  0     2
3   2005                15  ...                  0    15
4   2006                19  ...                  0    37
5   2007                21  ...                  0    53
6   2008                 5  ...                  0    41
7   2009                17  ...                  0    35
8   2010                17  ...                  0    27
9   2011                 4  ...                  0    60
10  2012                12  ...                  0    38
11  2013                 2  ...                  0     2
12  2014                11  ...                  0    11
13  2015                 0  ...                  0     0
14  2016                25  ...                  0    25
15  2017                 9  ...                  0     9
16  2018                33  ...                  0    66
17  2019                50  ...                  0    50
18  2020                43  ...                  0    67

[18 rows x 7 columns]
Campeche
    ANIO Anormalmente Seco  ... Sequia Excepcional Total
1   2003                63  ...                  0    77
2   2004                58  ...                  0    64
3   2005                22  ...                  0    68
4   2006                19  ...                  0    24
5   2007                29  ...                  0    75
6   2008                62  ...                  0    98
7   2009                10  ...                  1   132
8   2010                10  ...                  0    76
9   2011                26  ...                  0    73
10  2012                16  ...                  0    20
11  2013                18  ...                  0    27
12  2014                40  ...                  0    40
13  2015               125  ...                  0   134
14  2016                99  ...                  0   185
15  2017                82  ...                  0   144
16  2018                62  ...                  0   115
17  2019                97  ...                  0   199
18  2020                53  ...                  0   104

[18 rows x 7 columns]
Coahuila
    ANIO Anormalmente Seco  ... Sequia Excepcional Total
1   2003                93  ...                  0   149
2   2004                 0  ...                  0     0
3   2005                63  ...                  0    89
4   2006               113  ...                 35   421
5   2007               119  ...                  1   173
6   2008               118  ...                  0   310
7   2009               175  ...                  2   356
8   2010                79  ...                  0   126
9   2011                23  ...                129   427
10  2012                75  ...                 13   430
11  2013                97  ...                  4   241
12  2014               129  ...                  0   171
13  2015                96  ...                  0   106
14  2016               123  ...                  0   137
15  2017               272  ...                  0   307
16  2018               197  ...                  3   421
17  2019               328  ...                  0   481
18  2020               308  ...                  3   754

[18 rows x 7 columns]
Colima
    ANIO Anormalmente Seco  ... Sequia Excepcional Total
1   2003                20  ...                  0    20
2   2004                50  ...                  0    50
3   2005                85  ...                  0    91
4   2006                22  ...                  0    76
5   2007                16  ...                  0    73
6   2008                52  ...                  0    93
7   2009                20  ...                  0   120
8   2010                10  ...                  0    20
9   2011                31  ...                  0    59
10  2012                14  ...                  0    14
11  2013                14  ...                  0    14
12  2014                 1  ...                  0     1
13  2015                41  ...                  0    44
14  2016                63  ...                  0    99
15  2017               119  ...                  0   134
16  2018               130  ...                  0   160
17  2019                71  ...                  0   141
18  2020                89  ...                  0    98

[18 rows x 7 columns]
Chiapas
    ANIO Anormalmente Seco  ... Sequia Excepcional Total
1   2003               503  ...                  0   599
2   2004               331  ...                  0   707
3   2005               290  ...                  0   764
4   2006               205  ...                  0   266
5   2007               377  ...                  0   830
6   2008               324  ...                  0   351
7   2009               584  ...                  0  1333
8   2010                38  ...                  0   735
9   2011               204  ...                  0   283
10  2012                11  ...                  0    11
11  2013               290  ...                  0   307
12  2014               102  ...                  0   102
13  2015               907  ...                  0  1434
14  2016               946  ...                  0  1833
15  2017              1415  ...                  0  1608
16  2018              1158  ...                  0  1962
17  2019              1034  ...                  0  2402
18  2020               868  ...                  0   985

[18 rows x 7 columns]
Chihuahua
    ANIO Anormalmente Seco  ... Sequia Excepcional Total
1   2003               147  ...                  4   629
2   2004               145  ...                  3   202
3   2005               132  ...                  0   140
4   2006               122  ...                 30   608
5   2007               234  ...                  0   348
6   2008               266  ...                  0   413
7   2009               176  ...                  0   185
8   2010               199  ...                  0   276
9   2011                64  ...                189   787
10  2012               112  ...                 18   699
11  2013               171  ...                  0   267
12  2014               545  ...                  0   741
13  2015               176  ...                  0   194
14  2016               566  ...                  0   776
15  2017               385  ...                  0   416
16  2018               683  ...                  0   969
17  2019               611  ...                  0   808
18  2020               356  ...                 18  1093

[18 rows x 7 columns]
Ciudad de Mexico
    ANIO Anormalmente Seco  ... Sequia Excepcional Total
1   2003                80  ...                  0    80
2   2004                 0  ...                  0     0
3   2005                82  ...                  0    82
4   2006                63  ...                  0   112
5   2007                20  ...                  0    36
6   2008               105  ...                  0   154
7   2009                 0  ...                  0   192
8   2010                92  ...                  0    96
9   2011                49  ...                  0   129
10  2012                19  ...                  0    19
11  2013                62  ...                  0    82
12  2014                14  ...                  0    14
13  2015                75  ...                  0    75
14  2016               169  ...                  0   204
15  2017               124  ...                  0   150
16  2018                66  ...                  0    66
17  2019               155  ...                  0   168
18  2020                63  ...                  0    63

[18 rows x 7 columns]
Durango
    ANIO Anormalmente Seco  ... Sequia Excepcional Total
1   2003               181  ...                  0   239
2   2004                 2  ...                  0     2
3   2005                69  ...                  0    71
4   2006                85  ...                  2   336
5   2007               156  ...                  0   303
6   2008                41  ...                  9   274
7   2009                32  ...                  0    44
8   2010                17  ...                  0    17
9   2011                10  ...                 32   399
10  2012                71  ...                 12   375
11  2013               170  ...                  0   257
12  2014               226  ...                  0   230
13  2015               160  ...                  0   163
14  2016               349  ...                  0   435
15  2017               243  ...                  0   318
16  2018               204  ...                  0   414
17  2019               316  ...                  0   724
18  2020               293  ...                  0   685

[18 rows x 7 columns]
Guanajuato
    ANIO Anormalmente Seco  ... Sequia Excepcional Total
1   2003                 0  ...                  0     0
2   2004                 4  ...                  0     4
3   2005               139  ...                  0   206
4   2006               127  ...                  0   371
5   2007                38  ...                  0    42
6   2008               192  ...                  0   428
7   2009               177  ...                  0   523
8   2010                84  ...                  0   150
9   2011                93  ...                  5   507
10  2012                94  ...                  5   218
11  2013               199  ...                  0   217
12  2014               168  ...                  0   184
13  2015               125  ...                  0   125
14  2016               332  ...                  0   338
15  2017               489  ...                  0   718
16  2018               177  ...                  0   546
17  2019               518  ...                  0   795
18  2020               474  ...                  0   754

[18 rows x 7 columns]
Guerrero
    ANIO Anormalmente Seco  ... Sequia Excepcional Total
1   2003               241  ...                  0   509
2   2004                67  ...                  0    89
3   2005               262  ...                  0   289
4   2006               245  ...                  0   362
5   2007               152  ...                  0   248
6   2008               277  ...                  0   519
7   2009               277  ...                  0   378
8   2010                21  ...                  0    24
9   2011               235  ...                  0   339
10  2012               156  ...                  0   156
11  2013               189  ...                  0   189
12  2014               717  ...                  0   842
13  2015               761  ...                  0  1127
14  2016               556  ...                  0  1175
15  2017               760  ...                  0  1110
16  2018               946  ...                  0  1406
17  2019               714  ...                  0  1381
18  2020               561  ...                  0  1447

[18 rows x 7 columns]
Hidalgo
    ANIO Anormalmente Seco  ... Sequia Excepcional Total
1   2003               412  ...                  0   412
2   2004               132  ...                  0   132
3   2005               290  ...                  0   293
4   2006               451  ...                  0   650
5   2007               111  ...                  0   175
6   2008               237  ...                  0   245
7   2009               175  ...                  0   294
8   2010                 2  ...                  0     2
9   2011               295  ...                  0   745
10  2012                79  ...                  0    87
11  2013               232  ...                  0   301
12  2014               160  ...                  0   162
13  2015               189  ...                  0   304
14  2016               374  ...                  0   578
15  2017               540  ...                  0   759
16  2018               784  ...                  0  1193
17  2019               891  ...                  2  1835
18  2020              1096  ...                  0  1506

[18 rows x 7 columns]
Jalisco
    ANIO Anormalmente Seco  ... Sequia Excepcional Total
1   2003                27  ...                  0    27
2   2004               237  ...                  0   237
3   2005               678  ...                  0   780
4   2006               295  ...                  0  1108
5   2007               328  ...                  0  1010
6   2008               288  ...                  0  1213
7   2009               210  ...                  0  1285
8   2010                24  ...                  0   131
9   2011               496  ...                 34  1371
10  2012               345  ...                 15   541
11  2013               408  ...                  0   431
12  2014               575  ...                  0   610
13  2015               573  ...                  0   629
14  2016               773  ...                  0   860
15  2017              1111  ...                  0  1871
16  2018              1118  ...                  0  1629
17  2019              1309  ...                  0  1960
18  2020               989  ...                  0  1770

[18 rows x 7 columns]
Estado de Mexico
    ANIO Anormalmente Seco  ... Sequia Excepcional Total
1   2003               595  ...                  0   685
2   2004                52  ...                  0    52
3   2005               639  ...                  0   665
4   2006               386  ...                  0   915
5   2007               141  ...                  0   252
6   2008               686  ...                  0  1261
7   2009               244  ...                  0  1445
8   2010               315  ...                  0   373
9   2011               419  ...                  0  1068
10  2012               137  ...                  0   157
11  2013               218  ...                  0   391
12  2014               220  ...                  0   220
13  2015               358  ...                  0   358
14  2016               636  ...                  0   647
15  2017               807  ...                  0   831
16  2018              1071  ...                  0  1266
17  2019              1354  ...                  0  1649
18  2020              1374  ...                  0  1824

[18 rows x 7 columns]
Michoacan
    ANIO Anormalmente Seco  ... Sequia Excepcional Total
1   2003               203  ...                  0   203
2   2004               108  ...                  0   110
3   2005               584  ...                  0   731
4   2006               209  ...                  0   870
5   2007               275  ...                  0   736
6   2008               167  ...                  0  1306
7   2009                94  ...                  0  1343
8   2010                21  ...                  0   129
9   2011               526  ...                  0  1244
10  2012               193  ...                  0   277
11  2013               401  ...                  0   401
12  2014               828  ...                  0   990
13  2015              1251  ...                  0  1515
14  2016              1310  ...                  0  1760
15  2017              1130  ...                  0  1811
16  2018               703  ...                  0  1455
17  2019              1013  ...                  0  2028
18  2020              1073  ...                  0  2255

[18 rows x 7 columns]
Morelos
    ANIO Anormalmente Seco  ... Sequia Excepcional Total
1   2003                84  ...                  0   224
2   2004                 0  ...                  0     0
3   2005               153  ...                  0   153
4   2006               146  ...                  0   262
5   2007                88  ...                  0   148
6   2008               195  ...                  0   258
7   2009               219  ...                  0   376
8   2010                86  ...                  0    91
9   2011                33  ...                  0   198
10  2012                 0  ...                  0     0
11  2013                 2  ...                  0     2
12  2014                15  ...                  0    15
13  2015               121  ...                  0   141
14  2016                10  ...                  0    10
15  2017               133  ...                  0   133
16  2018               255  ...                  0   285
17  2019               252  ...                  0   298
18  2020               246  ...                  0   290

[18 rows x 7 columns]
Nayarit
    ANIO Anormalmente Seco  ... Sequia Excepcional Total
1   2003                18  ...                  0    18
2   2004                99  ...                  0    99
3   2005               104  ...                  0   109
4   2006                30  ...                  0   197
5   2007                54  ...                  0   215
6   2008                41  ...                  0   206
7   2009               120  ...                  0   204
8   2010                 7  ...                  0     9
9   2011                78  ...                  0   198
10  2012                62  ...                  0   113
11  2013                99  ...                  0   149
12  2014               133  ...                  0   133
13  2015               130  ...                  0   143
14  2016                96  ...                  0   117
15  2017               181  ...                  0   261
16  2018               201  ...                  0   330